{% extends "layouts/base.html" %}
{% block content %}
<div class="container overflow-hidden text-center">
    <section class="row ">
        <div class="col-2"></div>
        <div class="col-2">
            <div class="p-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h1>David Guerrero</h1>
                        <h2>Especialista en Seguridad Informática</h2>
                        <p>Gestión de Calidad | Gestión de Riesgos | Continuidad de Negocio | Automatización de Procesos | Implemetador ISO 27001</p>
                        <a class="card-link" href="">Contactar</a>
                        <a class="card-link" href="">Ver experiencia</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <img src="https://picsum.photos/300/400" class="rounded mx-auto d-block" alt="foto">
            </div>  
        </div>
    </section>
    <section class="row gy-5">
        <div></div>
    </section>
</div>
{% endblock content %}